.header {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    padding: clamp(0.4rem, 5vw, 3rem) clamp(0.5rem, 2vw, 2rem);
}

.logos-wrapper{
    display: flex;
    gap: clamp(1.5rem, 3vw, 1.5rem);
    width: auto;
}

.headerLogo {
    width: 3vw;
    filter: grayscale(100%);
}



.headerLogo:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease-in-out;
    cursor: pointer;
}



@media screen and (max-width: 850px) {
    .headerLogo {
        width: clamp(3vw, 5vw, 6vw);
    }
    .logos-wrapper {
        gap: 2vw;
        margin-bottom: 1vh;
    }
}