.main-question {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Brawler', cursive;
    text-align: center;
    padding: clamp(1.8rem, 1vw, 3vw);
    font-size: clamp(2rem, 2.9vw, 3.5vw);
    color: white;
    margin-bottom: clamp(2rem, 5vw, 5rem);
    overflow-wrap: anywhere;
}

.question-text {
    margin-top: clamp(2rem, 3vw, 4rem);
    font-size: clamp(3rem, 5vw, 10rem);
}

.answers-wrapper {
    margin-top: clamp(2rem, 3vw, 4rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 2vw, 3rem);
}

.left-extra-btn {
    cursor: pointer;
    max-width: 100px;
    min-width: clamp(10vw, 12vw, 2.5rem);
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 850px) {
    .answers-wrapper {
        gap: clamp(0.5vh, 2vh, 3vh);
    }

    .question-text{
        font-size: 56px;
    }
}